.buttonPosition{
    justify-content: right;
}
.shadow-all {
    box-shadow: rgba(54, 138, 192, 0.3) 0 0 3px 3px;
  }
 
  .ionitem {
    border: 1px solid #808080ab;
    border-radius: 5px;
}
.colorred {
 color: red;
   padding-left: 18px;
   font-size: 10px !important;
}
  