<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/prime-site-visits"></ion-back-button>
    </ion-buttons>
    <ion-title>View Prime Site Visits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-content>
            <h2>{{siteData?.propertyName}}</h2>
            <p>
              {{siteData?.date}}
            </p>
            <p>
              Client Name: {{siteData?.clientName}}
            </p>
            <p>
              ID: {{siteData?.id}} </p>
            <p>
              Mobile: {{siteData?.mobile}}
            </p>
          </ion-card-content>
        </ion-col>
        <ion-col size="3" class="ion-text-right ion-align-self-center">
          <ion-icon name="call" color="success" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row style="display: flex;text-align: center;">
    <ion-col>
      <ion-button (click)="getCurrentLocation()">Login Location</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="getCurrentLocation()">Logout Location</ion-button>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col>
      <ion-label>
        Latitude: {{latitude?latitude: ''}}
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        Longitude: {{longitude? longitude: ''}}
      </ion-label>
    </ion-col>
  </ion-row> -->
  <ion-card>  
    <ion-row>
      <ion-col size="8">
        <ion-list>
          <ion-item>
            <ion-select  [(ngModel)]="selectedLead" label="Lead"  label-placement="floating">
              <ion-select-option *ngFor="let items of leadsData"
                [value]="items.id">{{items.firstName}}-({{items.mobile}})</ion-select-option>
            </ion-select>
          </ion-item>         
        </ion-list>  
      </ion-col>
      <ion-col size="4" style="margin: auto;">
        <ion-button [disabled]="selectedLead ==''" expand="block" class="btn-background-color" 
        size="small" (click)="generateOtp()" >Get OTP</ion-button>    
      </ion-col>
    </ion-row>
    <ion-row *ngIf="otpgenerated">
      <ion-col size="8">
        <ion-list>
          <ion-item>
            <ion-input label="Enter OTP" [(ngModel)]="enteredOtp" maxlength="6"  labelPlacement="floating"></ion-input>
          </ion-item>         
        </ion-list>  
      </ion-col>
      <ion-col size="4" style="margin: auto;">
        <ion-button (click)="verifyOtp()"   [disabled]="enteredOtp ==''"  expand="block" class="btn-background-color-green" 
        size="small">Verify</ion-button>    
      </ion-col>
    </ion-row>
    
  </ion-card>
</ion-content>