.highlite{
   background-color:  rgb(100, 100, 252);
   color: white;
    
}
.shadow-all {
   box-shadow: rgba(54, 138, 192, 0.3) 0 0 3px 3px;
 }
 
 .cardheader {
   font-weight: bold;
    text-decoration: underline;
 }
 .cardheaderalignment {
   justify-content: center; 
 }