.highlite{
   background-color:  rgb(100, 100, 252);
   color: white;
    
}
.shadow-all {
   box-shadow: rgba(54, 138, 192, 0.3) 0 0 3px 3px;
 }
 
 .cardheader {
   font-weight: bold;
    text-decoration: underline;
 }
 .cardheaderalignment {
   justify-content: center; 
 }
 .colorred {
  color: red;
    padding-left: 18px;
    font-size: 10px !important;
 }


 ion-list {
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}