<!-- <ion-content>
	<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
		<div class="input-group">
			<ion-item>
				<ion-input type="username" placeholder="UserName" formControlName="username"></ion-input>
			</ion-item>
      <ion-text  class="errorClass" *ngIf="username?.hasError('required') && username?.touched">
        <span>UserName is required</span> 
      </ion-text>		
			<ion-item>
				<ion-input type="password" placeholder="password" formControlName="password"></ion-input>
			</ion-item>
      <ion-text  class="errorClass" *ngIf="password?.hasError('required') && password?.touched">
        <span>password is required</span> 
      </ion-text>      		
		</div>

		<ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Log in</ion-button>
		<ion-button type="button" expand="block" color="light" fill="clear"
			>Not yet a member? Sign up!
		</ion-button>

		<ion-button type="button" expand="block" color="tertiary">
			<ion-icon name="logo-google" slot="start"></ion-icon>
			Sign in with Google
		</ion-button>
	</form>
</ion-content> -->
<ion-content class="ion-align-items-center ion-justify-content-center ion-padding">
  <div class="ion-text-center margin-top">
    <h2>Sign in</h2>
    <p class="sub-title">Welcome to B2B</p>
  </div>
  

	<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <ion-input class="ion-input-margin" type="text" mode="md" fill="outline" formControlName="username" placeholder="Enter Username"></ion-input>
  <ion-input class="ion-input-margin" type="password" mode="md" fill="outline" formControlName="password" placeholder="Enter Password"></ion-input>
  <!-- <div class="forgot-password">
    <ion-router-link href="/forgot-password" class="orange-link">Forgot Password?</ion-router-link>
  </div> -->

  <ion-button type="submit" expand="block" class="btn-background-color ion-btn-margin"  [disabled]="!loginForm.valid">Sign In</ion-button>

  <!-- <div class="register-account">
  <p>Don't have an account? <ion-router-link href="/register-account" class="orange-link">Register Now</ion-router-link></p>
  </div> -->
  </form>
</ion-content>